:root {
  --btn-base-color: #582630;
  --btn-light-color: #92612a;
  --btn-dark-color: #702131;
  --btn-text-color: #d1842b;
  --pixel-size: 1px;
}

body {
    background-color: rgb(20, 20, 20);
}

.pixel-button {
  width: 100px;
  height: 30px;
  
  color: var(--btn-text-color);
  font-family: 'Press Start 2P', monospace;
  font-size: 10px; 
  text-align: center;
  line-height: 30px; 
  text-transform: uppercase;
  cursor: pointer;
  
  background-color: var(--btn-base-color);
  border: none;
  
  box-shadow: 
    calc(-1 * var(--pixel-size)) calc(-1 * var(--pixel-size)) 0 0 var(--btn-light-color),
    var(--pixel-size) var(--pixel-size) 0 0 var(--btn-dark-color),
    
    calc(-2 * var(--pixel-size)) calc(-2 * var(--pixel-size)) 0 0 var(--btn-dark-color),
    calc(2 * var(--pixel-size)) calc(2 * var(--pixel-size)) 0 0 var(--btn-base-color);
  
  transition: all 0.05s linear;
}

.pixel-button:hover {
  background-color: var(--btn-light-color);
  transform: translate(0, calc(-1 * var(--pixel-size)));
}

.pixel-button:active {
  background-color: var(--btn-base-color);
  transform: translate(var(--pixel-size), var(--pixel-size));
  
  box-shadow: 
    0 0 0 0 transparent,
    0 0 0 0 transparent,
    
    calc(-1 * var(--pixel-size)) calc(-1 * var(--pixel-size)) 0 0 var(--btn-dark-color), 
    calc(1 * var(--pixel-size)) calc(1 * var(--pixel-size)) 0 0 var(--btn-base-color); 
}